<!DOCTYPE html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/account.css">
  <link rel="stylesheet" href="/css/master.css">

  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

  <link rel="icon" type="image/x-icon" href="/Resources/favicon.jpeg">
  <title>Login</title>
</head>
<body>

  <div id="forgotpw" class="row mt-5 text-white">
    <div class="bg-primary mx-auto rounded shadow py-3" style="width:20%">
      <h2 class="text-center">Forgot your password?</h2>
      <br>
      <div class="px-3">
        <h5>Whats your username?</h5>
        <input id="username" type="text" name="Username" value="">
        <p id="error1" class="error"></p>
        <button id="forgotusername" type="button" name="submit" class="mt-2 btn btn-light" onclick="forgotpwusername()">Submit</button>
      </div>
    </div>
  </div>

  <div id="forgotpw2" class="row mt-5 text-white d-none">
    <div class="bg-primary mx-auto rounded shadow py-3" style="width:20%">
      <h2 class="text-center">A 6 digit code has been sent to your email</h2>
      <br>
      <div class="px-3">
        <h5>Enter code:</h5>
        <input id="code" type="text" name="Code" value="">
        <p>This code will expire in 5 minutes</p>
        <p id="error2" class="error"></p>
        <div class="d-flex justify-content-between">
            <button id="forgotcode" type="button" name="submit" class="mt-2 btn btn-light" onclick="forgotpwcode()">Submit</button>
            <button id="resendcode" type="button" name="submit" class="mt-2 btn btn-light" onclick="resendpwcode()">Resend Code</button>
        </div>
      </div>
    </div>
  </div>

  <div id="forgotpw3" class="row mt-5 text-white d-none">
    <div class="bg-primary mx-auto rounded shadow py-3" style="width:20%">
      <h2 class="text-center">Enter your new password</h2>
      <br>
      <div class="px-3">
        <h5>New password:</h5>
        <input id="password" type="password" name="Password" value="">
        <h5>Retype password:</h5>
        <input id="repassword" type="password" name="Repassword" value="">
        <p id="error3" class="error"></p>
        <button id="newpassword" type="button" name="submit" class="mt-2 btn btn-light" onclick="newpassword()">Submit</button>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="/js/account.js"></script>
  <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
</body>

